@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a asp-area="" asp-controller="Home" asp-action="Temperature">1. Temperature</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a asp-area="" asp-controller="Home" asp-action="Goals">2. Goals</a>
        </div>
    </div>
</div>
